#main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    margin: 0 auto;
}
#boxInfoPokemon{
    background-color: #ededed;
    border: 1px solid #aaa;
    padding: 20px;
    border-top: 20px;
    border-radius: 10px;
}
#boxInfoPokemon h2{
    text-align: center;
}
#boxInfoPokemon{
display: block;
margin: auto;
}